0.ProjectZero/Resources/Schemas/SharedProcesses/WriteToFileRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:WriteToFileRequest="http://www.tibco.com/schemas/0.ProjectZero/Resources/Schemas/SharedProcesses/WriteToFileRequest.xsd"
	 xmlns:Header="http://www.tibco.com/schemas/0.ProjectZero/Resources/Schemas/Commons/Header.xsd"
	 xmlns:ns0="http://www.tibco.com/schemas/0.ProjectZero/Resources/Schemas/Commons/Header.xsd"
	 targetNamespace="http://www.tibco.com/schemas/0.ProjectZero/Resources/Schemas/SharedProcesses/WriteToFileRequest.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.tibco.com/schemas/0.ProjectZero/Resources/Schemas/Commons/Header.xsd" schemaLocation="../Commons/Header.xsd"/>
	<xs:element name="WriteToFileRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:Header"/>
				<xs:element ref="WriteToFileRequest:Body" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Body">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>